ion-menu-button {
  color: white
}

// #container {
 
//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 40%;
//   transform: translateY(-50%);
  
// }
a{
  color: #292929;
  text-decoration: none;
}
#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
  --background: black !important;
  color: white;
}

#container a {
  text-decoration: none;
}
////////-------

.txt{
 
 color : white;
 font-size: small;
 text-align: left;

}
ion-toolbar,
ion-title{
  --background: black !important;
  color: white;
}

ion-item,ion-label,ion-input{
  color:#292929;
}

.login-text-btn{
 
  --background: rgba(255, 255, 255, 0.659) !important;
  color: black;
  font-weight: bold;
  --border-radius: 0 !important;
  font-size: small !important;
}
.bottom_avtar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
 
  }
  .txt{
 
    color : white;
    font-size: small;
    text-align: left;
   
   }

   //New Css--->
   .profile-wrapper{
    padding: 0px 30px;
}
.profile-details{
    height: 320px;
    background-color: #00AC75 !important;
}
.profile-details h3{
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    margin: 0;
}
.profile-header ion-icon{
  color:#fff;
  float :right;
  margin-right: 20px;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  
  // padding-top: 10px;
}

.profile-content{
    flex-direction: column;
    position: relative;
    display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.profile-content i{
    position: absolute;
    top: -5px;
    right: 0;
    font-size: 16px;
    color: #fff;
}


.profile-pic{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.profile-pic img{
    height: 100%;
    object-fit: cover;
}

.user-info{
color: #fff;
font-weight: 700;
padding-top: 1.0rem;
text-align: center;
}

.user-info h3{font-size: 16px;}
.user-info h4{font-size: 14px;}
.user-info h5{
    font-size: 14px;
}
.user-info h3,h4,h5{
  //margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 0.5;
}

.user-info .d-flex{
  display: flex;
}


.profile-links{
  height: auto;
  background-color: #fff;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  margin-top: -25px;
  padding-bottom: 30px;
}
.links-wrapper{
  /* box-shadow: 0px 3px 6px hsl(0deg 0% 0% / 6%); */
  border-radius: 5px;
}
.links-wrapper a {  
  display: block;  
  background-color: #fff;  
  border-bottom: 1px solid #ccc;
}

.link-content{
  display: flex;
  justify-content: space-between;
  /* border-bottom: 1px solid #d9d9d9; */
  padding: 15px 0px;
}
.link-content ion-icon{
  font-size: 18px;
  padding: 0px 15px;
}

.link-content .link-title{
  font-size: 14px;
  /* color: #292929; */
}
.link-content div{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --------------------------------
update .profile
-------------------------------- */

.update-profile{
  background: none;
  height: 190px;
}
.update-profile h2{
  color: #00AC75;
}
.update-profile-form .form-group{
font-size: 10px;
font-weight: 600;
}
.update-profile-form .form-group ion-label{
font-size: 14px;
font-weight: 700;
margin-bottom: 0;
/* margin-bottom: 21px; */
}

.update-profile-form .form-control{
  border: none;
  border-radius: 6px;
  color: #676767;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  margin-bottom: 15px;
  margin-top: 8px;
  display: block;
    width: 100%;
    padding: .375rem .75rem;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-group{
  margin-bottom: 1rem;
}
.dob-sex{
  justify-content: space-between;
  display: flex;
} 
.dob-sex .form-group{
  width: 50%;
}

.sex-wrapper{
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-top: 12px;
}

.sex-wrapper div{
  // margin: 0px 12px;
  display: flex;
  // justify-content: center;
  flex-direction: row;
  align-items: center;
}
.sex-wrapper div ion-label{
  margin-left: 8px;
}

.date-input{
display: flex;
}

input[type="date" i] {
  /* align-items: center;
  display: -webkit-inline-flex;
  font-family: monospace;
  padding-inline-start: 1px;
  cursor: default;
  overflow: hidden;
  padding: 0px; */
}
.update-profile-pic {
  overflow: inherit;
}
.update-profile-pic .profile-picture {
  max-width: 120px;
  max-height: 120px;
  display: block;
}

.update-profile-pic .file-upload {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.update-profile-pic .circle {
  border-radius: 50% !important;
  overflow: hidden;
  width: 120px;
  height: 120px;
  border: 5px solid rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 0;
  margin: 0;
  box-shadow: 0px 1px 7px 1px rgb(0 0 0 / 12%);
}
.update-profile-pic img {
  /* max-width: 100%; */
  /* height: auto; */
}
.update-profile-pic .p-image {
position: absolute;
bottom: 10px;
right: 4px;
width: 30px;
height: 30px;
line-height: 28px;
text-align: center;
font-size: 12px;
border: 2px solid #018057;
background-color: #00ac75;
border-radius: 50%;
color: #666666;
cursor: pointer;
transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
padding-top: 2px;
}
.update-profile-pic .p-image:hover {
transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.update-profile-pic ion-icon {
font-size: 1.5em;
position: static;
color: #fff;
}

.update-profile-pic .upload-button:hover {
transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
color: #ffffff;
}

.submit-final{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5rem;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.btn-submit {
  font-size: 18px;
  font-weight: 700;
  height: 37px;
  width: 190px;
  background: #00ac75;
  border-radius: 6px;
  border: none;
  margin: 40px 0px;
}

.profile-page-layout .mobile-top-header, .page-layout .mobile-top-header {
  justify-content: start;
  align-items: center;
}
.mobile-top-header {
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
}

.back-btn {
  // position: absolute;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 30px;
  background-color: #F1F1F1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  margin-right: 15px;
  padding-top: 2px;
}

ion-buttons a{
  color: #fff;
  margin-left: 20px;
  font-size: 25px;
}