<ion-header [translucent]="true">
  <div *ngIf="!editprofile">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="profile-header py-3">
    <ion-title>My Profile</ion-title>
    <div><a (click)="editPatprofile()"><ion-icon style="font-size: 20px;font-weight: 500;" name="create-outline"></ion-icon></a></div>
  </div>
  </ion-toolbar>
  </div>
  <div *ngIf="editprofile">
    <ion-toolbar>
      <ion-buttons slot="start">
        <a (click)="backToPatProfile()"><ion-icon name="arrow-back"></ion-icon></a>
      </ion-buttons>
      <ion-title>Update Profile</ion-title>
    </ion-toolbar>
    </div>
</ion-header>

<ion-content [scrollEvents]="true" [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Appointment History</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <div class="layout">
    <div *ngIf="!editprofile">
    <div class="mobile-layout">
      <div class="profile-section">
        <div id="container">
          <div class="profile-details profile-wrapper">
            <!-- <div class="profile-header py-3">
              <h3>My Profile</h3>
              <div><a (click)="editPatprofile()"><ion-icon style="font-size: 18px;" name="create"></ion-icon></a></div>
            </div> -->
            <div class="profile-content d-flex justify-content-center align-items-center mt-4">

              <div class="profile-pic">
                  <img src="assets/img/newimg/avatars/profile-pic.jpg" alt="Profile">
              </div>
              <div class="user-info text-center pt-2">
                <h3>{{patInfo.FirstName}} {{patInfo.LastName}}</h3>
                <h4>{{patInfo.MailingAddress}}</h4>
                <h4>Mobile No.- {{patInfo.ContactNumber}}</h4>
                <!-- <h5><span class="age">Age: <span>23</span> Y </span> <span>Sex: <span>M</span></span></h5> -->
                <!-- <div class="d-flex justify-content-center text-center age-sex">
                  <h5 class="mr-2">Age: <span>23</span> Y</h5>
                  <h5 class="ml-2">Sex: <span>{{patInfo.Gender}}</span></h5>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <!-- <div *ngIf="!editprofile"> -->
          <div class="profile-wrapper profile-links">
            <div class="links-wrapper pt-5">
              <a>
                <div class="link-content">
                  <div class="d-flex justify-content-center align-items-center">
                    <ion-icon name="time-outline"></ion-icon>
                    <span style="color:#9E9C9C;" class="link-title">History</span>
                  </div>
                  <div slot="end" style="color:#9E9C9C; font-size: 12px;">
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                  </div>
                </div>
              </a>
              <a>
                <div class="link-content">
                  <div class="d-flex justify-content-center align-items-center">
                    <ion-icon name="list"></ion-icon>
                    <span style="color:#9E9C9C;" class="link-title">Appointment Lists</span>
                  </div>
                  <div slot="end" style="color:#9E9C9C; font-size: 12px;">
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                  </div>
                </div>
              </a>
              <a>
                <div class="link-content border-0">
                  <div class="d-flex justify-content-center align-items-center">
                    <ion-icon name="location-outline"></ion-icon>
                    <span style="color:#9E9C9C;" class="link-title">Address</span>
                  </div>
                  <div slot="end" style="color:#9E9C9C; font-size: 12px;">
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                  </div>
                </div>
              </a>
              
            </div>
            <div class="links-wrapper pt-4">
              <a>
                <div class="link-content">
                  <div class="d-flex justify-content-center align-items-center">
                    <ion-icon name="clipboard-outline"></ion-icon>
                    <span style="color:#9E9C9C;" class="link-title">Reports</span>
                  </div>
                  <div slot="end" style="color:#9E9C9C; font-size: 12px;">
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                  </div>
                </div>
              </a>
              <a>
                <div class="link-content border-0">
                  <div class="d-flex justify-content-center align-items-center">
                    <ion-icon name="notifications-outline"></ion-icon>
                    <span style="color:#9E9C9C;" class="link-title">Notification</span>
                  </div>
                  <div slot="end" style="color:#9E9C9C; font-size: 12px;">
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                  </div>
                </div>
              </a>
            </div>
            <div class="links-wrapper pt-4">
              <a>
                <div class="link-content">
                  <div class="d-flex justify-content-center align-items-center">
                    <ion-icon name="settings-outline"></ion-icon>
                    <span style="color:#9E9C9C;" class="link-title">Setting</span>
                  </div>
                  <div slot="end" style="color:#9E9C9C; font-size: 12px;">
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                  </div>
                </div>
              </a>
              <a href="/login">
                <div class="link-content border-0">
                  <div class="d-flex justify-content-center align-items-center">
                    <ion-icon name="log-out-outline"></ion-icon>
                    <span style="color:#9E9C9C;" class="link-title">Sign Out</span>
                  </div>
                  <div slot="end" style="color:#9E9C9C; font-size: 12px;">
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                  </div>
                </div>
              </a>
            </div>
          </div>
        <!-- </div> -->
      </div>
    </div>
    </div>
  <div *ngIf="editprofile">
    <div class="mobile-layout profile-page-layout page-layout">
      <div class="profile-section">
        <div class="profile-detail profile-wrapper update-profile">

          <div class="profile-content d-flex justify-content-center align-items-center mt-4">
            <div class="profile-pic update-profile-pic">
              <div class="circle">
                <!-- User Profile Image -->
                <img class="profile-picture"
                  src="assets/img/newimg/avatars/profile-pic.jpg">

                <!-- Default Image -->
                <!-- <i class="fa fa-user fa-5x"></i> -->
              </div>
              <!-- <div class="p-image">
                <ion-icon name="camera"></ion-icon>
                <ion-input class="file-upload" type="file" (ion-change)="UploadImage($event)" accept="image/*" ></ion-input>
              </div> -->
            </div>
          </div>
        </div>

    <div class="profile-wrapper update-profile-form">
    <form [formGroup]="ionicForm" (ngSubmit)="updatePatprofile()" novalidate>
      <div class="form-group">
        <ion-label for="exampleFormControlSelect1">First Name</ion-label>
        <ion-input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        formControlName="patfirstname" [(ngModel)]="patInfo.FirstName"></ion-input>
      </div>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.patfirstname.errors?.required">
        Name is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.patfirstname.errors?.minlength">
        Name should be min 2 chars long.
      </span>
      <div class="form-group">
        <ion-label for="exampleFormControlSelect1">Middel Name</ion-label>
        <ion-input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        formControlName="patmiddelname" [(ngModel)]="patInfo.MiddleName"></ion-input>
      </div>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.patmiddelname.errors?.required">
        Name is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.patmiddelname.errors?.minlength">
        Name should be min 2 chars long.
      </span>
      <div class="form-group">
        <ion-label for="exampleFormControlSelect1">Last Name</ion-label>
        <ion-input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        formControlName="patlastname" [(ngModel)]="patInfo.LastName"></ion-input>
      </div>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.patlastname.errors?.required">
        Name is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.patlastname.errors?.minlength">
        Name should be min 2 chars long.
      </span> 
      <div class="form-group">
        <ion-label for="exampleFormControlSelect1">Email</ion-label>
        <ion-input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        formControlName="patemail" [(ngModel)]="patInfo.MailingAddress"></ion-input>
      </div>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.patemail.errors?.required">
        Email is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.patemail.errors?.pattern">
        Please provide valid email id.
      </span>
      
      <div class="dob-sex d-flex justify-content-between">
        <div class="form-group w-50">
          <!-- <i class="fas fa-user"></i> -->
          <ion-label for="exampleFormControlSelect1">Date Of Birth</ion-label>
          <ion-input type="date" class="form-control date-input" id="exampleInputEmail1" aria-describedby="emailHelp"
          [ngModelOptions]="{standalone: true}" [(ngModel)]="patInfo.DateOfBirth"></ion-input>
        </div>
        <div class="form-group ml-4 " style="margin-left: 1.5rem">
          <!-- <i class="fas fa-user"></i> -->
          <ion-label for="exampleFormControlSelect1">Sex</ion-label>
          <div class="d-flex sex-wrapper " style="display: flex;">
            <ion-radio-group [ngModelOptions]="{standalone: true}" [(ngModel)]="patInfo.Gender">
            <div class="ml-0">
              <ion-radio id="male" name="gender" value="male"></ion-radio>
              <ion-label for="male">Male</ion-label>
            </div>
            <div  style="margin-top: 2px;">
              <ion-radio type="radio" id="female" name="gender" value="female"></ion-radio>
              <ion-label for="female">Female</ion-label>
            </div>
            <div  style="margin-top: 2px;">
              <ion-radio type="radio" id="other" name="gender" value="other"></ion-radio>
              <ion-label for="other">Other</ion-label>
            </div>
            </ion-radio-group>
          </div>
        </div>
      </div>


    
    <div class="submit-final d-flex justify-content-center align-items-center pb-5">
      <button type="submit"
        class="btn btn-primary btn-submit d-flex justify-content-center align-items-center mb-0">Update
        Profile</button>
      <!-- <a href="">Our Payment Method</a> -->
    </div>
      </form>
      </div>
      </div>
    </div>
  </div>

      
  </div>
</ion-content>