<ion-content [fullscreen]="true">
  <div class="layout">
    <div *ngIf="showLogin" class="mobile-layout mobile-layout-login">
      <div class="login-user login-signup d-flex justify-content-center">
        <div><span class="logo-primary "><img src="assets/img/newimg/danphecare-logo.png" alt="logo"></span>
        </div>
        <div>
          <h2 class="login-title title mt-5 mb-4">Welcome Back! <br> <span>Login to continue</span></h2>
        </div>
        <div class="login-signup-form">
          <form [formGroup]="userModel.UserValidator" class="mt-3">
            <div class="form-group">
              <ion-input type="number" class="form-control" placeholder="Phone number *" formControlName="username"
                [(ngModel)]="userModel.PhoneNumber">
              </ion-input>
              <div class="errorMessage"
                [hidden]="userModel.IsValidCheck('username','required') || !(userModel.IsDirty('username'))">Phone
                number is Required</div>
              <div class="errorMessage" *ngIf="userModel.IsDirty('username')"
                [hidden]="userModel.IsValidCheck('username','pattern')">Phone number should be 10 digits.</div>
            </div>
            <div class="form-group mb-1">
              <ion-input type="password" class="form-control mb-0" placeholder="Enter Password."
                formControlName="password" [(ngModel)]="userModel.Password">
              </ion-input>
              <div class="errorMessage"
                [hidden]="userModel.IsValidCheck('password','required') || !(userModel.IsDirty('password'))">Password is
                required</div>
              <div class="errorMessage" *ngIf="userModel.IsDirty('password')"
                [hidden]="userModel.IsValidCheck('password','minlength')">Password must be at least 6 characters.</div>
              <div class="errorMessage" *ngIf="userModel.IsDirty('password')"
                [hidden]="userModel.IsValidCheck('password','pattern')">Password should contains atleast one special
                charater,one upper case, one lower case and one number.</div>

            </div>
            <div class="clearfix"><a class="forgot-password mt-2">Forgot Password?</a></div>
            <br>
            <div>
              <ion-button class="login-btn" (click)="loginValidation()">Login</ion-button>
            </div>
            <br>
            <br>
            <span class="or-line">OR</span>
            <br>
            <br>
            <a class="log-sing-link mt-3">Not account yet ? <span (click)="ShowSignUp()">Sign up</span></a>
          </form>
        </div>
      </div>
    </div>
    <div *ngIf="showSignup" class="mobile-layout mobile-layout-login">
      <div class="login-user login-signup d-flex justify-content-center">
        <div><span class="logo-primary "><img src="assets/img/newimg/danphecare-logo.png" alt="logo"></span>
        </div>
        <div>
          <h2 class="login-title title mt-5 mb-4">New Account! <br> <span>Signup and get started</span></h2>
        </div>
        <div class="login-signup-form">
          <form [formGroup]="userModel.UserValidator" class="mt-3">
            <div class="form-group">
              <ion-input type="number" class="form-control" type="number" placeholder="Phone number *"
                [(ngModel)]="userModel.MobileNo" [ngModelOptions]="{standalone: true}" value="10">
              </ion-input>
            </div>
            <br>
            <div>
              <ion-button class="login-btn" [disabled]="!userModel.MobileNo" (click)="postMobno()">Sign up</ion-button>
            </div>
            <br>
            <br>
            <span class="or-line">OR</span>
            <br>
            <br>
            <a class="log-sing-link mt-3">Already have ? <span (click)="hideSignUp()">Login now</span></a>
          </form>
        </div>
      </div>
    </div>
    <div *ngIf="showverify" class="mobile-layout">
      <!-- Mobile Header Layout Start-->
      <div class="mobile-top-header">
        <br>
        <div class="back-btn">
          <img src="assets/img/newimg/svg-icon/left-arrow.svg" alt="" (click)="backToSignup()">
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class=" login-user login-signup d-flex justify-content-center mt-5">
        <div><span class="logo-primary ">
            <img src="assets/img/newimg/danphecare-logo.png" alt="logo">
          </span>
        </div>
        <br>
        <br>
        <br>
        <div class="mt-5">
          <h2 class="main-title">Verify your OTP</h2>
        </div>
        <br>
        <div class="verify-message mt-4 mb-2">
          <!-- <h2 class="login-title title my-5">Login</h2> -->
          <p>We just sent you OTP on <br>
            <span>{{userModel.MobileNo}}</span>. <br>
            Verify your number.
          </p>
        </div>
        <br>
        <br>
        <div class=" login-signup-form otp-form">
          <!-- <form action="" class="mt-3">
            <div class="received-code d-flex">
              <div class="form-group">
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="otp-timer clearfix text-right">
              <p><span>1:20 s</span></p>
            </div>
          </form> -->
          <form>
            <ion-input type="number" class="form-control" placeholder="Enter OTP" [ngModelOptions]="{standalone: true}"
              [(ngModel)]="otp">
            </ion-input>
          </form>
          <br>
          <ion-button class="login-btn" (click)="verifyOTP()">Verify OTP</ion-button>
        </div>
        <br>
        <br>
        <br>
        <br>
        <a class="dont-received-code mt-5">Don't received code?</a>
      </div>
      <!-- Categories Section End-->
    </div>
  </div>
  <!-- <div *ngIf="showverify">
    <div class="form-center">
     
      <div style="float: left; display: inline-block; width: 65%;">
        <ion-input type="number" class="login-txt" placeholder="Enter OTP" [ngModelOptions]="{standalone: true}"
          [(ngModel)]="otp">
        </ion-input>
 
      </div>
      <div style="float: right; display: inline-block; width: 35%;">
        <ion-button class="login-text-btn" (click)="verifyOTP()">Verify OTP</ion-button>

      </div>

    
    </div>

  </div> -->
</ion-content>