a {
  color: #292929;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #00ac75;
}

.mobile-layout-login {
  height: 100vh;
  /* height: 100%; */
  display: flex;
}

.login-signup {
  /* position: absolute; */
  max-width: 480px;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin: auto;
  /* top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
  /* align-items: center; */
  /* margin-top: 120px; */
}

.login-signup .main-title {
  font-size: 20px;
  font-weight: 700;
  color: #00ac75;
}
.verify-message p {
  font-size: 14px;
  font-weight: 700;
  color: #676767;
}

.login-signup .title {
  font-size: 24px;
  font-weight: 600;
  color: #676767;
}

.login-signup .title span {
  font-size: 15px;
  font-weight: 300;
}

.login-signup-form form {
  margin: 0px 30px;
}
.form-group {
  position: relative;
}

.form-group .svg,
.form-group i {
  position: absolute;
  right: 0;
  top: 50%;
  font-size: 12px;
  margin-right: 10px;
  margin-top: -6px;
  color: #676767;
}

.form-control {
  border: 0.5px solid #c2c2c2;
  border-radius: 6px;
  color: #c2c2c2;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  margin-bottom: 20px;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 0%);
  border-color: #00ac75;
}
.otp-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.otp-form .received-code .form-control {
  width: 41px;
  height: 53px;
  margin: 0px 5px;
  border: none;
  box-shadow: 0px 5px 10px rgb(0 0 0 / 15%);
  color: #00ac75;
  font-size: 28px;
  font-weight: 700;
}

.forgot-password {
  color: #292929;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  float: right;
}
.dont-received-code {
  font-size: 14px;
  font-weight: 700;
  color: #676767;
}

.btn-submit {
  font-size: 18px;
  font-weight: 700;
  height: 37px;
  width: 190px;
  background: #00ac75;
  border-radius: 6px;
  border: none;
  margin: 40px 0px;
}
.btn-submit:hover {
  color: #00ac75;
  background: white;
  border: 1px solid #00ac75;
}

.or-line {
  position: relative;
  color: #292929;
  font-size: 12px;
  font-weight: 500;
}
.or-line::before {
  content: "";
  height: 1px;
  width: 55px;
  background-color: #676767;
  display: block;
  position: absolute;
  top: 50%;
  left: 34%;
  margin-top: 0;
}
.or-line::after {
  content: "";
  height: 1px;
  width: 55px;
  background-color: #676767;
  display: block;
  position: absolute;
  top: 50%;
  right: 34%;
  margin-top: 0;
}

.log-sing-link {
  font-size: 14px;
  font-weight: 500;
}

.log-sing-link span {
  color: #00ac75;
}

.otp-timer p {
  font-size: 14px;
  font-weight: 700;
  color: #00ac75;
  float: right;
}
.back-btn {
  position: relative;
}

.login-btn{
  font-size: 16px;
  font-weight: 700;
  --background:#00ac75 ;
  height: 37px;
  width: 190px;
  border-radius: 6px;

}
