ion-menu-button {
  color: white
}

// #container {
 
//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 40%;
//   transform: translateY(-50%);
  
// }

#container strong {
  font-size: small;
  line-height: 26px;
}

#container p {
  font-size: small;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
  --background: black !important;
  color: white;
}

#container a {
  text-decoration: none;
}
////////-------

.txt{
 
 color : white;
 font-size: small;
 text-align: left;

}
ion-toolbar,
ion-title{
  --background: black !important;
  color: white;
}

ion-item,ion-label,ion-input{
  color:white;
}

.login-text-btn{
 
  --background: rgba(255, 255, 255, 0.659) !important;
  color: black;
  font-weight: bold;
  --border-radius: 0 !important;
  font-size: small !important;
}
.bottom_avtar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
 
  }
  .txt{
 
    color : white;
    font-size: small;
    text-align: left;
   
   }

   @media (max-width: 768px) {
    #meet iframe {
      width: 100% !important;
      min-height: 550px;
    }
  }

  .frame-area iframe {
min-height:470px !important;

  }
  #meet {
    height: 100%;
  }