<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Waiting Room</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  id="myContent" [scrollEvents]="true" [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <div *ngIf = "!showincommingcall">
        <div class="patient-highlight mb-2 hi-this">
          <h1 class="text-white">Hello {{patientName}}!</h1>
          <p>
            Your call has been reached to the Doctor. Your Doctor will call you
            <!-- <span *ngIf="index == 0" class="counter">shortly,</span>
            <span *ngIf="index == 1" class="counter">after "1" patient,</span>
            <span *ngIf="index > 1" class="counter"
              >after "{{index}}" patients,</span
            > -->
            Please stay calm and wait for the doctor to respond. Meanwhile you can
            <a
              href="https://certify.covid19.gov.np/"
              target="_blank"
              class="d-inline-block"
              style="color: yellow"
            >
              Learn and Certify Yourself
            </a>
            or send message to your doctor below.
          </p>
         
         
        </div>
        </div>
        <!-- <div *ngIf = "showincommingcall">
          <iframe  [src]="global.config.videourl | safe" width=800 height=640 scrolling="no" frameborder="0"
          allow="microphone; camera" class="call-box"></iframe>
    
          </div> -->

          <!-- <div *ngIf = "showincommingcall" style="text-align:center">
            <button (click)="startCall()">Start OpenTok Call</button>
          </div>
          <div id="subscriber"></div>
          <div id="publisher"></div>  -->
         
       <!-- tokbox -->
       <div *ngIf="showincommingcall">
            <app-publisher [session]="session"></app-publisher>
            <app-subscriber *ngFor="let stream of streams" [stream]="stream" [session]="session"></app-subscriber>
           
          </div>
           <!-- jitsi embed-->
          
           <!-- <jitsi-call *ngIf="showincommingcall"></jitsi-call> -->
        
           <!-- <test-audio-video></test-audio-video> -->

  <br>
  <br>

    </ion-card-content>
  </ion-card>
</ion-content>