<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Book Appointments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" [fullscreen]="true">
  <!-- <ion-searchbar placeholder="Search your specialists" [(ngModel)]="searchText"></ion-searchbar> -->
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Appointment History</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <div className="bg-gray">
    
  </div>
  <div id="container">
<div *ngIf="!showhospitalspecificdoclist">
   
      <div class="tab-section py-2 px-3">
      <ion-list>
        <ion-col class="active">
        <a value="doctor" (click)="getDoctorList()">Doctors</a>
        </ion-col>
        <ion-col>
        <a value="hospital" (click)="getHospitalList()">Hospital</a>
      </ion-col>
      </ion-list>


    </div>
    <div *ngIf="doctor">
      <div class="doctor-grid-view py-2 px-3">
        <div class="title-section d-flex justify-content-between mb-4">
          <ion-list>
            <ion-col>
              Top Doctors
            </ion-col>
            <ion-col>
              <a class="view-link">View All <img src="assets/img/newimg/svg-icon/arrow-right.png" alt="Right Arrow">
              </a>
            </ion-col>  
          </ion-list>
        </div>
      <div *ngFor="let dr of doctorlist">
        <div class="doctor-grid-list"class="col-md-6">
          <ion-row>
            <ion-col>

              <ion-card class="card">
                <img src="../../../assets/img/Teaching.png"/>
                <ion-card class="subCard">
                  <div class="container">
                    <div class="card-title">Dr. {{dr.DoctorName}}</div>
                    <div class="card-subtitle">{{dr.Education}},{{dr.Experience}}</div>
                    <div class="card-number">NMC No.-{{dr.NMC}}</div>
                    <div class="doc-rate"><span><ion-icon name="star"></ion-icon>3.5</span> 
                      <button type="button"class="btn" (click)="GoToDoctor(dr.DoctorId)"> <ion-icon name="calendar"></ion-icon> Book Now</button>
                    </div>
                  </div>
                </ion-card>
              </ion-card>
            </ion-col>
          </ion-row>
        </div>
          
      </div>
      </div>
    </div>
    <div *ngIf="!doctor">
      <div class="doctor-grid-view py-2 px-3">
        <div class="title-section d-flex justify-content-between mb-4">
          <ion-list>
            <ion-col>
              Kathmandu
            </ion-col>
            <ion-col>
              <a class="view-link">View All <img src="assets/img/newimg/svg-icon/arrow-right.png" alt="Right Arrow"></a>
            </ion-col>  
          </ion-list>
        </div>
      
        <div *ngFor="let hosp of hospitallist">
          <div class="doctor-grid-list">
            <ion-row>
              <ion-col col-6>
                <ion-card class="card" (click)="GoToHospital(hosp.HospitalId)">
                
                  <img src="../../../assets/img/Teaching.png"/>
                  <ion-card class="subCard">
                  <div class="container">
                    <div class="card-title">{{hosp.HospitalName}}</div>
                    <div class="card-subtitle" style="top:35%">{{hosp.Location}}</div>
                    <div class="doc-rate"><span><ion-icon name="star"></ion-icon>3.5</span> 
                    <!-- <button type="button"class="btn"> <i class="fa fa-calendar"></i> Book Now</button> -->
                    </div>
                  </div>
                </ion-card>
              </ion-card>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
  </div>
  </div>

    <div *ngIf="showhospitalspecificdoclist">

        <div *ngFor="let dr of hosdocmaplist">
          <ion-card class="card" (click)="GoToDoctor(dr.DoctorId)">
            <ion-card-content class="txt">
              <!-- <table class="table">
              <thead>
                <tr>
                  <ion-avatar>
                    <img
                    src="../../../assets/profile.png"
                    alt="{{dr.HospitalName}}"
                   >
                  </ion-avatar>
                </tr>
                <tr>
                  <th>DoctorName</th>
                  <th>: {{dr.DoctorName}}</th>
                </tr>
                <tr>
                  <th>: {{dr.LongSignature}}</th>
                </tr>
                <tr>
                  <th>NMC No</th>
                  <th>: {{dr.NMC}}</th>
                </tr>
              </thead>
            </table> -->

              <table style="width:100%">

                <tr>
                  <td>
                    <ion-avatar>
                      <img src="../../../assets/profile.png" alt="{{dr.HospitalName}}">
                    </ion-avatar>
                  </td>
                  <td>Name</td>
                  <td>: {{dr.DoctorName}}</td>
                </tr>
                <tr>
                  <td></td>
                  <td>Education</td>
                  <td>: {{dr.Education}}</td>
                </tr>
                <tr>
                  <td></td>
                  <td>Experience</td>
                  <td>: {{dr.Experience}}</td>
                </tr>
                <tr>
                  <td></td>
                  <td>NMC No</td>
                  <td>: {{dr.NMC}}</td>
                </tr>
              </table>
            </ion-card-content>
          </ion-card>
        </div>

    </div>
  </div>
</ion-content>