ion-menu-button {
  color: white
}
a {
  color: #292929;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #00ac75;
}

 #container {
  margin-left: 10px;
  margin-right: 10px;
//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 80%;
//   transform: translateY(-50%);
 
 }

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
  --background: black !important;
  color: white;
}

#container a {
  text-decoration: none;
}
////////-------
.txt{
 
//  color : white;
color: #292929;
 font-size: small;
 text-align: left;
}



ion-toolbar,
ion-title{
  --background: black !important;
  color: white;
}

.comman-text-btn{
 
  --background: rgba(255, 255, 255, 0.659) !important;
  color: black;
 
  --border-radius: 0 !important;
  font-size: small !important;
  font-weight: bold;
}

.view-link{
  float: right;
  color: #00AC75;
	font-weight: 600;
  justify-content: center;
  align-items: center;
}
.view-link ion-icon{
  display: inline-block;
	margin-right: 2px;
  color: #00AC75;
}

.card{
  position: relative !important;
}
.card img{
  width: 100%; 
  height: 100%;
}
.subCard{
  position: absolute;
  top: 50%;
  left:5%;
  right: 5%;
  height: 40%;
  background-color: #fff;
}
.container{
  margin-top: 3%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
}
.card-title {
  position: absolute;
  float: left;
  width: 100%;
  font-size: 14px;   
  font-weight: 700;
  color: #2d2d2d;
}
.card-subtitle{
  position: absolute;
  float: left;
  top: 30%;
  font-size: 1.0em;
  width: 100%;
  color: #868686;
}
.card-number{
  position: absolute;
  float: left;
  top: 50%;
  font-size: 1.0em;
  width: 100%;
  color: #868686;
}
.doc-rate {
  font-size: 1.0em;
  position: absolute;
  top: 70%;
  width: 100%;
  color: rgb(36, 36, 36);
}
.doc-rate {
	display: block;
	font-weight: 700;
}
.doc-rate span ion-icon {
	color: #eac024;
	display: inline-block;
	margin-right: 4px;
}
.doc-rate .btn{
  background-color: transparent !important;
  border:  none !important;   
  color: #00AC75 !important;    
  font-size: 12px !important;    
  padding-right: 10%;
  float: right;
}
.doctor-grid-list .row {
  margin: 0 -5px;
}
.doctor-grid-list div[class*="col-"] {
  padding: 0 5px;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.doc-rate .btn ion-icon{
  display: inline-block;
	margin-right: 4px;
  color: #00ac75;
}
