<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Appointment History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [scrollEvents]="true" [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Appointment History</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <div id="container">
    <div class="doctor-section p-3">
      <div class="doctor-list" *ngFor="let item of collection.data">
        <ion-card>
          <ion-card-content>
            <table>
              <tr>
                <td>
                  <img class="thumbnail" src="assets/img/newimg/doctor-img1.jpg">
                </td>
                <td class="doc-name">Dr.{{item.DoctorName}}</td>
                <td class="doc-post">{{item.HospitalName}}</td>
                <!-- <td class="doc-post">Experience :{{allop.Experience}}</td> -->
                <td class="doc-post">VisitDate :{{item.VisitDate | date:'fullDate'}}</td>
              </tr>
            </table>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>