ion-menu-button {
  color: white
}

// #container {
 
//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 40%;
//   transform: translateY(-50%);
  
// }

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
  --background: black !important;
  color: white;
}

#container a {
  text-decoration: none;
}
////////-------
.txt{
 
 color : white;
 font-size: small;
 text-align: left;

}
ion-toolbar,
ion-title{
  --background: black !important;
  color: white;
}

.pay_btn{
 
  --background: rgba(255, 255, 255, 0.659) !important;
  color: black;
 
  --border-radius: 0 !important;
  font-size: xx-small !important;
}

.doctor-list {
  background-color: #fff;
 border-radius: 10px;
 overflow: hidden;
  // padding: 1px;
  margin-bottom: 10px;
}
.doctor-list .thumbnail {
 width: 80px;
 height: 95px;
 overflow: hidden;
 border-radius: 5px;
}

.doctor-list  .thumbnail img {
 display: block;
 width: 100%;
 object-fit: cover;
}

// .doctor-list a .doc-detail {
//  display: block;
//  color: #2d2d2d;
//  margin-left: 15px;
// }

.doc-name {
 display: block;
 font-size: 16px;
   font-weight: bold;
   padding-left: 10px;
}

.doc-post {
 color: #6d6c6c;
 display: block;
 font-size: 14px;
 padding-left: 10px;
}
.doctor-section{
  padding: 1rem;
}