/* Doctor Profile Css Start */
.doctor-profile-page {

  position: relative;
  }
  .doctor-profile-img {
  
  z-index: 1;
  
  position: relative;
  
  height: 350px;
  
  overflow: hidden;
  }
  .doctor-profile-img img {
      display: block;
      width: 100%;
  }
  .back-btn {
  
  position: absolute;
  
  top: 20px;
  
  left: 20px;
  
  width: 30px;
  
  height: 30px;
  
  background-color: #F1F1F1;
  
  border-radius: 50%;
  
  display: flex;
  
  justify-content: center;
  
  flex-direction: column;
  
  align-items: center;
  
  z-index: 1;
  }
  .back-btn a {
      
  display: block;
  }
  .back-btn a img {
      
  display: block;
      
  width: 80%;
      
  margin: 0 auto;
  }
  .doctor-profile-detail {
      
  background-color: #fff;
      
  margin-top: -50px;
      
  border-top-left-radius: 30px;
      
  border-top-right-radius: 30px;
      
  z-index: 9;
      
  position: relative;
      
  padding: 30px 15px;
  }
  .doctor-profile-detail .doctor-name {
  
  font-size: 16px;
  
  font-weight: 800;
  
  margin: 0 0 5px 0;
  }
  .doctor-detail{
    font-size: 16px;   
    font-weight: bold;
    display: block;
  }
 
  .doc-btn-wrap {
      
  }
  .doc-btn-wrap ul {
  
  display: flex;
  
  -ms-flex-wrap: nowrap;
  
  flex-wrap: nowrap;
  }
  .doc-btn-wrap ul li {
  
  width: 100%;
  
  background-color: #ecfff7;
  
  text-align: center;
  
  list-style: none;
  
  padding: 10px;
  
  border-radius: 10px;
  
  margin: 0 5px;
  
  height: 100px;
  
  display: flex;
  
  justify-content: center;
  
  flex-direction: column;
  
  align-items: center;
  
  font-size: 14px;
  
  font-weight: 600;
  }
  .doc-btn-wrap ul li b {
  
  display: block;
  
  font-size: 20px;
  
  font-weight: 800;
  
  color: #00AC75;
  }
  .doctor-profile-detail p {
  }
  .doc-btn-wrap ul li:first-child {
      margin-left: 0;
  }
  .doc-btn-wrap ul li:last-child {
      margin-right: 0;
  }
  .doctor-profile-detail h4 {
      font-size: 16px;
      font-weight: 700;
  }
  .calendar-header {
      
  display: flex;
      
  justify-content: space-between;
      
  margin-top: 25px;
  }
  .calendar-header .arrow {
  
  width: 30px;
  
  height: 30px;
  
  background-color: #f3f3f3;
  
  border-radius: 50%;
  
  display: flex;
  
  justify-content: center;
  
  flex-direction: column;
  
  align-items: center;
  }
  .calendar-header .arrow img {
  
  display: block;
  
  width: 25%;
  }
  .calendar-header .arrow.arrow-right {
  
  transform: rotate(180deg);
  }
  .calendar-header .month-title {
  
  font-size: 16px;
  
  font-weight: 700;
  
  text-align: center;
  }
  .calendar-table [type="radio"]:checked,
  .calendar-table [type="radio"]:not(:checked),
  .time-table [type="radio"]:checked,
  .time-table [type="radio"]:not(:checked), 
  .checkbox-wrapper [type="checkbox"]:checked, 
  .checkbox-wrapper [type="checkbox"]:not(:checked){
      position: absolute;
      left: -9999px;
  }
  .calendar-table [type="radio"]:checked + label,
  .calendar-table [type="radio"]:not(:checked) + label
  {
      position: relative;
      cursor: pointer;
      line-height: 20px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      color: #666;
      background-color: #E5E2E2;
      margin: 0;
      height: 55px;
      font-weight: 700;
      border-radius: 5px;
  }
  .calendar-table [type="radio"]:checked + label {
      background-color: #00AC75;
      color: #ffffff;
  }
  .time-table [type="radio"]:checked + label,
  .time-table [type="radio"]:not(:checked) + label,
  .checkbox-wrapper [type="checkbox"]:checked + label,
  .checkbox-wrapper [type="checkbox"]:not(:checked) + label
  {
      position: relative;
      cursor: pointer;
      line-height: 20px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      color: #666;
      background-color: #fff;
      margin: 0;
      font-weight: 700;
      border-radius: 5px;
      border: 1px solid #ccc;
      padding: 7px;
      font-size: 14px;
  }
  .time-table [type="radio"]:checked + label, .checkbox-wrapper [type="checkbox"]:checked + label {
      background-color: #fff;
      color: #00AC75;
      border: 1px solid #00AC75;
  }
  .checkbox-wrapper [type="checkbox"]:checked + label,
  .checkbox-wrapper [type="checkbox"]:not(:checked) + label {
      /* height: 60px; */
      text-align: center;
      margin: 0 3px;
  }
  
  .doctor-profile-detail .container {
      padding: 0;
  }
  
  .inner-form{
      
  display: flex;
      
  -ms-flex-wrap: nowrap;
      
  flex-wrap: nowrap;
      
  width: 100%;
  }
  .calendar-table form p, .time-table form p {margin: 0 3px;width: 100%;text-align: center;}
  .checkbox-wrapper [type="radio"] {
  
  }
  .checkbox-wrapper [type="checkbox"]:checked + label,
  .checkbox-wrapper [type="checkbox"]:not(:checked) + label {
      text-align: center;
      margin: 0 3px;
      font-size: 12px;
  }
  .form-group {
    width: 100%;     
    text-align: center;
    padding: 15px 6px;   
    border: 1px solid;
    border-color: #ced4da;
    border-radius: 8px;
    margin: 5px;
}
.form-control{
    border: 1px solid;
    border-color: #ced4da;
    border-radius: 6px;
}
.mesi-inner-form{
      
    display: block;
 
    }
.mesi-form-group {   

    text-align: center;
    padding: 5px 7px;
    border: 1px solid;
    border-color: #ced4da;
    border-radius: 8px;
    margin: 5px;
    display: inline-block;
    width: auto;
    height: auto;
    margin-bottom: 10px;

    
}
.mesi-form-control{
    border: 1px solid;
    border-color: #ced4da;
    border-radius: 6px;
}
.mesi-form-group ion-input{
    --padding: 0px;
}
  .meis-wrap form .inner-form {
      display: block;
  }
  .meis-wrap form .inner-form .form-group {
      display: inline-block;
      width: auto;
      height: auto;
      margin-bottom: 10px;
  }
  .meis-wrap form .inner-form .form-group label {
      height: auto;
  }
  .upload-btn-wrapper {
      position: relative;
      overflow: hidden;
      display: inline-block;
    }
    
    .upload-btn-wrapper .btn, .btn-success {
      color: white;
      background-color: #00AC75;
      padding: 6px 20px;
      border-radius: 5px;
      font-size: 14px;
      cursor: pointer;
    }
    
    .upload-btn-wrapper input[type=file] {
      /* font-size: 100px; */
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
    }
    .btn-book-appointment {
      // color: #00ac75;
      // background-color: #ffffff;
      // border-color: #1e7e34;

      color: white;
      --background: #00AC75;
      padding: 6px 20px;
      border-radius: 5px;
      font-size: 14px;
      cursor: pointer;
    }
  /* Doctor Profile Css End */