<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>   
      <ion-back-button></ion-back-button>
      
     
    </ion-buttons>
    <ion-title>Doctor</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content [scrollEvents]="true" [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Appointment History</ion-title>
    </ion-toolbar>
  </ion-header> -->  
  <div class="doctor-profile-img">
    <img  src="assets/img/newimg/usman-yousaf-SakqLf78KVo-unsplash.jpg" alt="">
  </div>
  <!-- Mobile Header Layout Start--> 
  <div class="back-btn">
    <img src="assets/img/newimg/svg-icon/left-arrow.svg" alt="" (click)="backtobookpage()">
  </div>
  <!-- Mobile Header Layout End-->
  <div class="doctor-profile-detail">
    <div class="container">     
      <ion-label class="doctor-name">Dr. {{DoctorName}}</ion-label><br>
      <!-- <ion-label>Email</ion-label>
      <ion-label>:- {{MailingAddress}}</ion-label><br> -->
      <ion-label class="doctor-detail">Education</ion-label>   
      <ion-label class="doctor-detail" *ngFor="let list of QualificationList" slot="end">:- {{list.Education}}</ion-label>
      <ion-label class="doctor-detail">{{HospitalName}}</ion-label>
      <ion-label class="doctor-detail">Experience(Years)</ion-label>
      <!-- <ion-label *ngFor="let list of QualificationList " slot="end">:- {{list.Experience}}</ion-label><br>
      <ion-label>Past Affiliation</ion-label>
      <ion-label *ngFor="let list of QualificationList " slot="end">:- {{list.PastAffiliation}}</ion-label><br>
      <ion-label>Membership</ion-label>
      <ion-label *ngFor="let list of QualificationList " slot="end">:- {{list.Membership}}</ion-label><br> -->
  
    
      <ion-item>
        <ion-label>Hospital :</ion-label>
        <ion-select placeholder="Select Hospital" [(ngModel)]="selHospital" (selectionChange)="AssignHospital($event)">
          <ion-select-option *ngFor="let row of hospitalList" [value]="row.HospitalId">{{row.HospitalName}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Department :</ion-label>
        <ion-select placeholder="Select Department" [(ngModel)]="selDepartment"
          (selectionChange)="AssignDepartment($event)">
          <ion-select-option *ngFor="let row of filteredDepartmentList" [value]=row.DepartmentId> {{row.DepartmentName}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <div *ngIf="showBookingDate" class="row">
          <div style="width: 100%">         
            <div>
              <ion-label>Choose a Appointment Date</ion-label>
              <!-- <ionic-calendar-date-picker  [(ngModel)]="visitObj.VisitDate" (onSelect)="GetVisitTime($event)"></ionic-calendar-date-picker>  -->
              <ion-datetime value="1990-02-19" [ngModelOptions]="{standalone: true}" (ionChange)="GetVisitTime($event)"
                [(ngModel)]="visitObj.VisitDate" placeholder="Select Date"></ion-datetime>

              <!-- <ion-calendar  [(ngModel)]="visitObj.VisitDate"
        (change)="GetVisitTime($event)"  
     
        [type]="type"
        [format]="'YYYY-MM-DD'"
       >
      </ion-calendar> -->
              <!--     
     <span class="error-msg" *ngIf="visitObj.IsDirty('VisitDate')"
            [hidden]="visitObj.IsValidCheck('VisitDate','required')"> VisitDate is required</span>
      <span class="error-msg" *ngIf="visitObj.IsDirty('VisitDate')"
            [hidden]="visitObj.IsValidCheck('VisitDate','invalidDate')">Enter Valid Date</span>  -->
            </div>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div *ngIf="ScheduleTimeDetail">
          <div *ngIf="showTimeSlot ">
            <p style="font-size: 12px"> <i class="fa fa-info-circle"></i>Please Select Time Interval To Select Time Slot
            </p>
          </div>
          <div *ngFor="let time of appointmentTime" style="display:flex; flex-direction: row;">
            <div>
              <button *ngIf="showIntervalButton" color="success" (click)="checkTimeSlot(time.SchedulingId)"
                style="font-size: 12px; width: auto;margin: 7px auto; border-radius: 30px"><i
                  class="fa fa-clock-o"></i>Schedule Interval: {{time.StartTime}} - {{time.EndTime}} </button>
              <div *ngFor="let list of scheduleIntervalList"
                style="display: inline-flex;align-items: center;justify-content: space-around; margin: 2px">
                <div *ngIf="showIntervalSlot  && time.SchedulingId == list.SchedulingId" class="example-button-row"
                  style="width: 80px">
                  <button *ngIf="list.IsBooked == false" color="primary"
                    (click)="setAppontmentTime(list)"
                    style="font-size: 12px; width: 100%;margin: 7px auto; border-radius: 30px; font-weight:bold">
                    {{list.StartTime}} </button>
                  <button *ngIf="list.IsBooked == true"  color="warn" (click)="setAppontmentTime(list)"
                    style="font-size: 12px;  width: 100%;margin: 7px auto; border-radius: 30px ; font-weight:bold">{{list.StartTime}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-item><br>
       <ion-label class="doctor-detail">Common Symptoms</ion-label><br>
     <div class="checkbox-wrapper my-3">
        <form action="">
          <div class="inner-form">
            <div class="form-group">
              <ion-input type="checkbox" id="fever"></ion-input>
              <ion-label for="fever">Fever</ion-label>
            </div>
            <div class="form-group">
              <ion-input type="checkbox" id="cough"></ion-input>
              <ion-label for="cough">Cough</ion-label>
            </div>
            <div class="form-group">
              <ion-input type="checkbox" id="sore-throat"></ion-input>
              <ion-label for="sore-throat">Sore Throat</ion-label>
            </div>
            <div class="form-group">
              <ion-input type="checkbox" id="chest-pain"></ion-input>
              <ion-label for="chest-pain">Chest Pain</ion-label>
            </div>
            <div class="form-group">
              <ion-input type="checkbox" id="diarrhoea"></ion-input>
              <ion-label for="diarrhoea">Diarrhoea</ion-label>
            </div>
          </div>
          <div>
            <ion-input type="text" class="form-control" placeholder="Any other symptoms"></ion-input>
          </div>
        </form>
      </div><br>      
      <ion-label class="doctor-detail">Medical Issues</ion-label>
      <form action="">
        <div class="mesi-inner-form">
          <div class="mesi-form-group">
            <ion-input  type="checkbox" id="heart-disease"></ion-input>
            <ion-label for="heart-disease">Heart Diseases</ion-label>
          </div>
          <div class="mesi-form-group">
            <ion-input  type="checkbox" id="high-blood-pressure"></ion-input>
            <ion-label for="high-blood-pressure">High Blood Pressure</ion-label>
          </div><br>
          <div class="mesi-form-group">
            <ion-input  type="checkbox" id="diabetes"></ion-input>
            <ion-label for="diabetes">Diabetes</ion-label>
          </div>
          <div class="mesi-form-group">
            <ion-input  type="checkbox" id="copd"></ion-input>
            <ion-label for="copd">COPD/Asthma</ion-label>
          </div><br>
          <div class="mesi-form-group">
            <ion-input  type="checkbox" id="covid"></ion-input>
            <ion-label for="covid">Exposure to Covid Patient</ion-label>
          </div>
          <div class="mesi-form-group">
            <ion-input type="checkbox" id="cancer"></ion-input>
            <ion-label for="cancer">Cancer</ion-label>
          </div>
        </div>
        <div>
          <ion-input type="text" class="mesi-form-control" placeholder="Other Pertinent Information"></ion-input>
        </div>
      </form>      
      <div>
        <p style="font-size:12px; margin-top: 15px;" *ngIf="visitObj.BookingTime!='' && visitObj.BookingTime != null ">
          <i class="fa fa-check-circle"></i>You have selected
          Appointment time:&nbsp;<br />
          <ion-label style="border-radius: 20px; margin-top: 5px; display: inline-block;"><strong
              style="font-size: 12px; color: #fff">{{visitObj.BookingTime}}</strong></ion-label>
        </p>
      </div>   
    
      <ion-button (click)="BookApoointment()" style="text-align: center;" class="btn-book-appointment">
        Upload file
      </ion-button>
      <ion-button (click)="BookApoointment()" style="padding-left: 70px;" class="btn-book-appointment">
        Make Appointment
      </ion-button>

  
      <!-- <div class="col-sm-12 col-md-4" *ngIf="this.SchedulingList!= null  && showScheduleList">
        <div>
          <h1 class="card-title"><i class="fa fa-clock-o"></i>Availability of Dr. {{DoctorName}}</h1>
          <div class="col-12" *ngIf="showUnavailableMsg">
            <p style="color:red "><strong>Doctor is not available for this Department </strong> </p>
          </div>
          <div *ngIf="filteredSchedulingList != null  ">
            <table class="table sc-table table-striped" width="100%" cellspacing="0" cellpadding="3" style="
            margin-bottom: 10px !important;">
              <thead style="display: none;">
                <tr>
                  <th valign="top">Date</th>
                  <th valign="top">Doctor Available </th>
                  <th style="display: none;"></th>
                </tr>
              </thead>
              <tbody>
                <tr class="clickable" *ngFor="let data of filteredSchedulingList" (click)="SelectSchedule(data)">
                  <td align="left"> {{data.Date | date:'mediumDate'}}</td>
                  <td align="right"> <span>{{data.StartTime }} - {{data.EndTime }}</span></td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div> -->
    </div>
  </div>
</ion-content>