.video-div {
  height: 100%;
  width: 100%;
  position: relative;
  video {
    height: 100%;
    width: 100%;
  }
  .video-action {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 20px;
    text-align: center;
    button {
      background: none;
      width: calc(1.5em + 2rem + 2px);
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      height: calc(1.5em + 0.45rem + 2px);
      padding: 0.375rem 0.75rem;
      svg {
        height: 100%;
        width: 100%;
      }
    }
    button:hover {
      background-color: var(--primary);
    }
  }
}
