ion-menu-button {
  color: white
}

// #container {
 
//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 80%;
//   transform: translateY(-50%);
 
// }

#container strong {
  font-size: 16px;;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
  --background: black !important;
  color: white;
}

#container a {
  text-decoration: none;
}
////////-------
.txt{
 
 color : white;
 font-size: 16px;
 text-align: left;
}



ion-toolbar,
ion-title{
  --background: black !important;
  color: white;
}

.comman-text-btn{
 
  --background: rgba(255, 255, 255, 0.659) !important;
  color: black;
 
  --border-radius: 0 !important;
  font-size: 16px;
  font-weight: bold;
}

ion-list{
  background-color: #fff;
  align-items: center;
  
  padding-bottom:10px ;
}
.container{
  width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.title-section {
  align-items: center;
  margin-bottom: 1rem!important;
}
.title-section h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
}
// .payment-detail .detail-list {
//   background-color: #fff;
//   border-radius: 10px;
// }
.payment-detail ion-card{
  background-color: #fff !important;
}
.pay{
  font-size: 14px !important;
  font-weight: 700 !important;
  color: black;
}
.payDetails{
  float: right;
  color: rgb(128, 126, 126) !important;
}
.payment-system{
  padding: 1rem!important;
}
.payment-list{
  margin-bottom: 1.5rem!important;
  margin-top: 1.5rem!important;
}
.payment-list form p [type="radio"]:checked, .payment-list form p [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.payment-list form [type="radio"]:checked + label {
  border: 1px solid #00AC75 !important;
  /* color: #00AC75; */
}
.payment-list form [type="radio"]:checked + label img, .payment-list form [type="radio"]:not(:checked) + label img {
  width: 70px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.payment-list form [type="radio"]:checked + label, .payment-list form [type="radio"]:not(:checked) + label {
  display: block;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  font-weight: bold;
  border: 1px solid transparent;
  font-size: 16px;
  position: relative;
}
.payment-list form [type="radio"]:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  width: 6px;
  height: 10px;
  border: solid #00AC75;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  top: 50%;
  right: 22px;
  margin-top: -7px;
}
.payment-list form [type="radio"]:checked + label:before, .payment-list form [type="radio"]:not(:checked) + label:before{
  content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #ccc;
    display: inline-block;
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    right: 10px;
    margin-top: -10px;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 3px;
}
.text-center {
  text-align: center!important;
  margin-top: 1.5rem!important;
}
.payment-list form .form-group .btn {
  font-size: 16px;
  width: 50%;
  margin: 0 auto;
}
.btn-success {
  color: white;
  background-color: #00AC75;
  padding: 6px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}
ion-buttons a{
  color: #fff;
  margin-left: 20px;
  font-size: 25px;
}