<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-menu-button></ion-menu-button> -->
      <a (click)="backToList()"><ion-icon name="arrow-back"></ion-icon></a>
    </ion-buttons>
    <ion-title>Payment Method</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="txt" id="myContent" [scrollEvents]="true" [fullscreen]="true">
  <div class="payment-detail">
    <div class="container">
      <div class="title-section d-flex justify-content-between mb-3">
        <h3>Appointment Details</h3>
      </div>
      <div class="detail-list">
        <ion-card>
          <ion-card-content>
            <ion-list><ion-lable class="pay">Doctor Name</ion-lable> 
              <ion-label class="PayDetails" for="" style="float: right;">{{this.Details.DoctorName}}</ion-label></ion-list>
              <ion-list><ion-lable class="pay">Department</ion-lable> 
                <ion-label class="PayDetails" for="" style="float: right;">{{this.Details.DepartmentName}}</ion-label></ion-list>
                <ion-list><ion-lable class="pay">Visit Date</ion-lable> 
                  <ion-label class="PayDetails" for="" style="float: right;">{{this.Details.VisitDate}}</ion-label></ion-list>
            <ion-list><ion-lable class="pay">Total Fee</ion-lable> 
            <ion-label class="PayDetails" for="" style="float: right;">Rs.{{this.Details.Charge}}</ion-label></ion-list>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
  <div class="payment-system p-3">
    <div class="title-section d-flex justify-content-between mb-3">
      <h3>Select Payment Method</h3>
    </div>
    <div class="payment-list my-4">
      <form action="#">
        <p>
          <input type="radio" id="esewa" name="radio-group" checked>
          <label for="esewa"><img src="assets/img/esewa.png" alt=""> <span>Pay using E-sewa</span></label>
        </p>
        <!-- <p>
          <input type="radio" id="khalti" name="radio-group">
          <label for="khalti"><img src="dist/img/Khalti-Logo.png" alt=""><span>Pay using Khalti</span></label>
        </p>
        <p>
          <input type="radio" id="ime-pay" name="radio-group">
          <label for="ime-pay"> <img src="dist/img/imepay.png" alt=""><span>Pay using IME Pay</span></label>
        </p> -->
        <div class="form-group text-center mt-4">
          <button type="button" class="btn btn-success" (click)="PayThroughEsewa()">Pay</button>
        </div>
      </form>
    </div>
  </div>



  <!-- <div>
    <ion-card>
      <p class="txt">Amount to be paid for this appointment: <ion-label for="">{{this.charge}}</ion-label></p>
    </ion-card>
    <!-- <ion-card>
      <p class="txt">Please select payment method below to proceed.</p>
      <br>
    </ion-card> --
    <div class="select-status">
      <div class="one-third">
        <br>
        <br>
        <ion-card class="txt">
          Click to make payment via your Esewa account
        </ion-card>
        <ion-card>
        <img src="assets/img/esewa.png" class="payment-logo">
        <div class="print-action">
          <input type="button" value="Pay" (click)="PayThroughEsewa()">
        </div>
        </ion-card>
      </div>
      <!-------------Khalti---------------->


      <!--<div class="one-third">
        <h3 class="radio-button__label-title">
          Khalti

        </h3>
        <span class="radio-button__label-subtext">
          Click to make payment via your Khalti account
        </span>
        <img src="assets/img/khalti.png" class="payment-logo">

        <div class="print-action">
          <input type="button" value="Pay" (click)="PayThroughKhalti()">
        </div>
      </div>-->

      <!-------------Khalti---------------->

      <!-------------Debit/Credit/Prepaid Cards---------------->
      <!-- <div>
        <span class="txt">
          Click to make payment by your Card (Debit/Credit/Prepaid)
        </span>
        <ion-card>
        <img src="assets/img/nabil.png" class="payment-logo">

        <div>
          <input type="button" value="Pay" (click)="PayThroughNabil()">
        </div>
        </ion-card>
      </div> -->
      <!-------------Debit/Credit/Prepaid Cards---------------->
      <!--<div class="one-third">
  <h3 class="radio-button__label-title">
    Credit/Debit Card
  </h3>
  <span class="radio-button__label-subtext">
    Click to make payment via your credit card
  </span>
  <div class="one-one ml-42">
    <div class="select-card">
      <div class="cc-selector">
        <input id="visa" type="radio" name="credit-card" value="visa" />
        <label class="drinkcard-cc visa" for="visa"></label>
        <input id="mastercard" type="radio" name="credit-card" value="mastercard" />
        <label class="drinkcard-cc mastercard" for="mastercard"></label>
        <input id="paypal" type="radio" name="credit-card" value="paypal" />
        <label class="drinkcard-cc paypal" for="paypal"></label>
        <input id="american-express" type="radio" name="credit-card" value="american-express" />
        <label class="drinkcard-cc american-express" for="american-express"></label>
      </div>
    </div>
    <div class="print-action">
      <button [disabled]="IsCardPayButtonDisabled" (click)="PayThroughCreditCard()">Pay  <i class="fa fa-spinner fa-spin" *ngIf="IsCardPayButtonDisabled"></i></button>
      </div>
  </div>
</div>--


    </div>
  </div> -->


</ion-content>