/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
////=--------
ion-content{
    --ion-background-color:orange;
    color :black;
}

.errorMessage{
  
    color: red; //#1d64d6 
    font-size: x-small;
   }
   .card 
   { border-radius : 20px; }


   //custom css 
 

body {
	font-family: "Mulish", sans-serif;
	font-size: 14px;
	color: #292929;
}

.mobile-layout {
	max-width: 480px;
	margin: 0 auto;
	min-height: 80vh;
	/* padding: 15px 0; */
	overflow-y: scroll;
	background-color: #f9f9f9;
}

.mobile-layout::-webkit-scrollbar-track,
.mobile-layout::-webkit-scrollbar {
	display: none;
}


/* .mobile-layout::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.mobile-layout::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
} */


/* Mobile layout header css Start */

.mobile-top-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	/* background-color: #ffffff; */
}

