// ion-menu-button {
//   color: white
// }

// #container {
//   text-align: center;
//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 50%;
//   transform: translateY(-50%);
// }

// #container strong {
//   font-size: 20px;
//   line-height: 26px;
// }

// #container p {
//   font-size: 16px;
//   line-height: 22px;
//   color: #8c8c8c;
//   margin: 0;
//   --background: black !important;
//   color: white;
// }

// #container a {
//   text-decoration: none;
// }
// ////////-------
// .login-txt{ 
//  color : white;
// }
// ion-toolbar,
// ion-title{
//   --background: black !important;
//   color: white;
// }

.profile-img
{
  // width: 58px;
	// height: 58px;
	// border-radius: 50%;
	// display: block;
	// overflow: hidden;
	// margin-right: 15px;
  width: 44px;
   border-radius: 50%;
   
}


.home-profile {
	display: block;
}

.home-profile a {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	text-decoration: none;
	color: #292929;
}

.home-profile .profile-img {
	width: 58px;
	height: 58px;
	border-radius: 50%;
	display: block;
	overflow: hidden;
	margin-right: 15px;
}

.home-profile .profile-img img {
	display: block;
	width: 100%;
}

// .home-profile .profile-detail {}

.home-profile .profile-detail .greetings {
	display: block;
}

.home-profile .profile-detail .profile-name {
	font-size: 16px;
	font-weight: 700;
}


/* Mobile layout header css End */


/* Hero Section Css Start */

.hero-section {
	height: 225px;
	 background: url('../../assets/img/newimg/tele-banner.jpg') no-repeat center center;	
	background-size: cover;
	position: relative;
	padding: 20px;
}

.hero-section .hero-content {
	width: 230px;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
}

.hero-section .hero-content h2 span {
	font-size: 14px;
	display: block;
	color: #292929;
	font-weight: normal;
}

.hero-section .hero-content h2 {
	font-size: 20px;
	font-weight: 800;
	color: #2fb07f;
}

.hero-section .hero-content .logo {
	width: 80px;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
}

.hero-section .hero-content .logo img {
	display: block;
	width: 100%;
}
/* Hero Section Css End */

/* Categories Section Css Start */

// .categories {}

.title-section {
	align-items: center;
}

// .title-section h3 {
// 	font-size: 16px;
// 	font-weight: 700;
// 	margin-bottom: 0;
// }

 .title-section .view-link {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 0;
	
 }

 .view-all {
	color: #00AC75;
	font-weight: 600;
	text-decoration: none;
	text-align: right;
	font-size: 14px;
	
}



.category-item a {
	display: block;
	font-weight: 700;
	color: #2d2d2d;
	text-align: center;
	text-decoration: none;
}

.category-item a .category-icon {
	display: block;
	background-color: #fff;
	padding: 15px;
	border-radius: 10px;
	height: 104px;
	justify-content: center;
	display: flex;
	align-items: center;
	/* box-shadow: 1px 2px 7px 0px rgb(0 0 0 / 15%); */
	margin-bottom: 15px;
}

.category-item a:hover {
	color: #00AC75;
}

.category-icon img {
	width: 55px;
}

.category-name {
	font-size: 14px;
}

.category-list .row {
	margin: 0 -5px;
}

.category-list div[class*="col-"] {
	padding: 0 5px;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
}

.category-item:hover a .category-icon {
	background-color: #00AC75;
}

.category-item:hover a .category-icon img {
	filter: brightness(0) invert(1);
}

.doctor-list {
	background-color: #fff;
	border-radius: 10px;
	overflow: hidden;
	padding: 10px;
	margin-bottom: 10px;
}

.doctor-list a {
	display: flex;
	/* justify-content: flex-start; */
	flex-direction: row;
	align-items: center;
	color: #ccc;
	text-decoration: none;
}

.doctor-list .thumbnail {
	width: 80px;
	height: 95px;
	overflow: hidden;
	border-radius: 5px;
}

.doctor-list  .thumbnail img {
	display: block;
	width: 100%;
	object-fit: cover;
}

.doctor-list a .doc-detail {
	display: block;
	color: #2d2d2d;
	margin-left: 15px;
}

.doc-name {
	display: block;
	font-size: 16px;
    font-weight: bold;
}

.doc-post {
	color: #6d6c6c;
	display: block;
	font-size: 14px;
    
}

.doctor-list a .doc-detail .doc-rate {
	display: block;
	font-weight: 700;
}

.doctor-list a .doc-detail .doc-rate i {
	color: #eac024;
	display: inline-block;
	margin-right: 4px;
}

.doctor-list:hover {
	box-shadow: 0 0 6px 0 rgb(0 0 0 / 14%);
}


/* Categories Section Css End */

// slider
.cstm-slides{
    width: 100%;
    background-color: #e5dddb5c;
    padding: 5px;

	// display: block;
	// background-color: #fff;
	// padding: 15px;
	// border-radius: 10px;
	// height: 104px;
	// justify-content: center;
	// display: flex;
	// align-items: center;
	// /* box-shadow: 1px 2px 7px 0px rgb(0 0 0 / 15%); */
	// margin-bottom: 15px;
}
.cstm-slides ion-slide{
    width: 50% !important;
}
.cstm-slides .swiper-container-android .swiper-slide, .swiper-wrapper{
    width: 50% !important;
}
.ion-card-slider{
    width: 95% !important; 
    margin: 5px !important;
    background-color: white !important;
    box-shadow: none !important;
}









