<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title slot="start">
      <span><img class="profile-img" src="assets/img/newimg/avatars/profile-pic.jpg" alt="Profile">
        <!-- <span class="greetings">Hello,</span><span class="profile-name">{{patInfo.FirstName}}</span> -->
      </span>
      <span class="profile-detail">
        <span class="profile-name">{{patInfo.FirstName}}</span>
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Hero Section Start-->
  <div class="hero-section">
    <div class="hero-content">
      <h2><span>Committed to your</span>
        Health and Well Being</h2>
      <a href="" class="logo"><img src="assets/img/newimg/danphecare-logo.png" alt=""></a>
    </div>
  </div>
  <!-- Hero Section End-->
  <!-- Categories Section Start-->
  <div class="categories p-3 mb-3">
    <div class="title-section">
      <ion-item class="view-link">
        <ion-label>
          Categories
        </ion-label>
        <ion-label (click)="gotobookappointment()" class="view-all">
          View All <img src="assets/img/newimg/svg-icon/arrow-right.png" alt="Right Arrow">
        </ion-label>
      </ion-item>
    </div>
    <div class="cstm-slides">
      <ion-slides class="cstm-slide">
        <ion-slide *ngFor="let dep of deptList">
          <div>
            <ion-card class="ion-card-slider" style="--background: #f7ebe7;">
              <ion-card-header style="padding: 5px">
                <ion-card-content style="padding: 0px !important;">
                  <img src="assets/img/newimg/svg-icon/lungs.svg"
                    style="width:100% !important; height: 80px !important;">
                  <ion-label class="category-name"> {{ dep.DepartmentName }} </ion-label>
                </ion-card-content>
              </ion-card-header>
            </ion-card>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
  <!-- Categories Section End-->
  <!-- Doctor Section Start-->
  <div class="doctor-section p-3">
    <div class="title-section">
      <ion-item class="view-link">
        <ion-label>
          Doctors
        </ion-label>
        <ion-label (click)="gotobookappointment()" class="view-all">
          View All <img src="assets/img/newimg/svg-icon/arrow-right.png" alt="Right Arrow">
        </ion-label>
      </ion-item>
    </div>
    <div class="doctor-list" *ngFor="let dr of doctorlist">
      <ion-card (click)="GoToDoctor(dr.DoctorId)">
        <ion-card-content>
          <table>
            <tr>
              <td>
                <img class="thumbnail" src="assets/img/newimg/doctor-img1.jpg" alt="{{dr.HospitalName}}">
              </td>
              <td class="doc-name">Dr.{{dr.DoctorName}}</td>
              <td class="doc-post">Education :{{dr.Education}}</td>
              <td class="doc-post">Experience :{{dr.Experience}}</td>
              <td class="doc-post">NMC No :{{dr.NMC}}</td>
            </tr>
            <tr class="doc-post">
              <td></td>
              <!-- <td >Education</td>
                <td >: {{dr.Education}}</td> -->
            </tr>
            <tr class="doc-post">
              <td></td>
              <!-- <td>Experience</td>
                <td>: {{dr.Experience}}</td> -->
            </tr>
            <tr class="doc-post">
              <td></td>
              <!-- <td>NMC No</td>
                <td>: {{dr.NMC}}</td> -->
            </tr>
          </table>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <!-- Doctor Section End-->
</ion-content>