ion-menu-button {
  color: white
}

// #container {
 
//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 80%;
//   transform: translateY(-50%);
 
// }

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
  --background: black !important;
  color: white;
}

#container a {
  text-decoration: none;
}
////////-------
.txt{
 
 color : white;
 font-size: small;
 text-align: left;
}



ion-toolbar,
ion-title{
  --background: black !important;
  color: white;
}

.comman-text-btn{
 
  --background: rgba(255, 255, 255, 0.659) !important;
  color: black;
 
  --border-radius: 5px !important;
  font-size: small !important;
  font-weight: bold;
  width:100%;
}

.tab-section ion-list ion-col{
  margin-right: 10px;
  color:#2d2d2d;
  padding-left: 16px;
}
.tab-section ion-list ion-col a {
  // display: flex;
  font-weight: 700;
  font-size: 16px;
  color: #2d2d2d;
  // text-decoration: none;
  // display: block;
  // padding: 10px;
}
.tab-section ion-list ion-col:hover a {
  color: #00AC75;
}
.appointment-status{
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
}
.doctor-section{
  padding: 1rem;
}

.doctor-list {
	 background-color: #fff;
	border-radius: 10px;
	overflow: hidden;
	 padding: 10px;
	 margin-bottom: 10px;
}
.doctor-list .thumbnail {
	width: 80px;
	height: 95px;
	overflow: hidden;
	border-radius: 5px;
}

.doctor-list  .thumbnail img {
	display: block;
	width: 100%;
	object-fit: cover;
}

.doctor-list a .doc-detail {
	display: block;
	color: #2d2d2d;
	margin-left: 15px;
}

.doc-name {
	display: block;
	font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
}

.doc-post {
	color: #6d6c6c;
	display: block;
	font-size: 14px;
  padding-left: 10px;
    
}

.doctor-list a .doc-detail .doc-rate {
	display: block;
	font-weight: 700;
}

.doctor-list a .doc-detail .doc-rate i {
	color: #eac024;
	display: inline-block;
	margin-right: 4px;
}

.doctor-list:hover {
	box-shadow: 0 0 6px 0 rgb(0 0 0 / 14%);
}
label ion-icon{
  color:black;
}