<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>All Booking List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [scrollEvents]="true" [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Appointment History</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <!-- <div class="layout">
    <div class="mobile-layout"> -->
      <div id="container">  
        <div class="tab-section p-3">
          <ion-list>
            <ion-col class="active">
              <a (click)="showalllist()">
                All
              </a>
            </ion-col>

            <ion-col>
              <a (click)="showpaidlist()">
                Paid
              </a>
            </ion-col>
          </ion-list>
        </div>
        <ion-card>
          <ion-card-content>
            <div *ngIf="showNearestVisit" class="col-md-12 col-xs-12">
              <div class="alert alert-danger" style="padding-left: 60px">
                <i class="fa fa-exclamation-triangle exa-sign"></i>Hello <strong>
                  {{patInfo.FirstName +' '+ patInfo.LastName }}
                </strong> ! Your
                <!-- <strong> {{nearestVisit.DoctorName}} </strong> -->
                doctor is now online, Please click
                the link to start the appointment with your doctor.
                <a (click)="GotoWaitingRoom(this.nearestVisit)" class="btn btn-danger btn-sm ml-2 text-white">Enter Waiting Room</a>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
        <div *ngIf="!paid">
          <div class="doctor-section p-3">
            <div class="doctor-list" *ngFor="let allop of allbookinglist.data">
              <ion-card>
                <ion-card-content>
                  <table>
                    <tr>
                      <td>
                        <img class="thumbnail" src="assets/img/newimg/doctor-img1.jpg">
                      </td>
                      <td class="doc-name">Dr.{{allop.DoctorName}}</td>
                      <td class="doc-post">{{allop.DepartmentName}}</td>
                      <!-- <td class="doc-post">Experience :{{allop.Experience}}</td> -->
                      <td class="doc-post">VisitDate :{{allop.VisitDate | date:'fullDate'}}</td>
                    </tr>
                    <tr *ngIf="allop.PaymentStatus == 'unpaid'">
                      <!-- <td></td> -->
                      <td colspan="2">
                       <ion-button (click)="pay(item)" class="comman-text-btn" >
                        Pay
                       </ion-button>
                      </td>
                      </tr>
                     <tr *ngIf="allop.PaymentStatus == 'paid'">
                      <td></td>
                      <td class="doc-post">Payment Status
                        <label class="text-success"><i class="fa fa-check"></i>: Paid</label>
                      </td>
                     </tr>
                     <tr *ngIf="allop.PaymentStatus == 'free'">
                      <td></td>
                      <td class="doc-post">Payment Status
                      <label class="text-info"><i class="fa fa-check-circle"></i>: Free</label>
                      </td>
                     </tr>
                    <!-- </tr> -->
                  </table>
                </ion-card-content>
              </ion-card>
            </div>
          </div>
        </div>

        <div *ngIf="paid">
          <div class="doctor-section p-3">
            <div class="doctor-list" *ngFor="let item of paidbookingList">
              <ion-card>
                <ion-card-content>
                  <table>
                    <tr>
                      <td>
                        <img class="thumbnail" src="assets/img/newimg/doctor-img1.jpg">
                      </td>
                      <td class="doc-name">Dr.{{item.DoctorName}}</td>
                      <td class="doc-post">{{item.DepartmentName}}</td>
                      <!-- <td class="doc-post">Experience :{{item.Experience}}</td>-->
                      <td class="doc-post">VisitDate :{{item.VisitDate | date:'fullDate'}}</td> 
                    </tr>
                    <tr *ngIf="((item.Status == 'initiated' || item.Status == 'ongoing') && item.GoToWaitingRoom == true && item.AccessPermission  == true  && item.EntryStatus == 'go' && (item.PaymentStatus == 'paid' || item.PaymentStatus == 'free') )">
                      <!-- <td></td> -->
                      <td colspan="2">
                        <ion-button  (click)="GotoWaitingRoom(this.nearestVisit)" style="width:100%; font-size: small; font-weight: bold;">
                          <i class="fa fa-exclamation-circle"></i>Go to Waiting Room
                        </ion-button>
                      </td>
                     </tr>
                     <tr *ngIf="((item.Status == 'initiated' || item.Status == 'ongoing') && item.GoToWaitingRoom == false && item.AccessPermission  == false && item.EntryStatus == 'todaypast'  && (item.PaymentStatus == 'paid' || item.PaymentStatus == 'free') )">
                      <td></td>
                      <td class="doc-post">
                        <label class="text-warning">
                          <i class="fa fa-exclamation-circle"></i>Visit time was
                          {{item.BookingTime}}
                        </label>
                      </td>
                     </tr>
                     <tr *ngIf="((item.Status == 'initiated' || item.Status == 'ongoing') && item.GoToWaitingRoom == false && item.AccessPermission  == false && item.EntryStatus == 'todayupcoming'  && (item.PaymentStatus == 'paid' || item.PaymentStatus == 'free') )">
                      <td></td>
                      <td class="doc-post">
                        <label class="text-success">
                          <i class="fa fa-clock-o"></i>Visit time on {{item.BookingTime}}
                        </label>
                      </td>
                     </tr>
                     <tr *ngIf="((item.Status == 'initiated' || item.Status == 'ongoing') && item.GoToWaitingRoom == false && item.AccessPermission  == false  && item.EntryStatus == 'upcoming' && (item.PaymentStatus == 'paid' || item.PaymentStatus == 'free') )">
                      <td></td>
                      <td class="doc-post"> 
                      <label class="text-success">
                          <!-- <ion-icon class="time"></ion-icon>-->Time :{{item.BookingTime}} 
                        </label>
                      </td>
                      </tr>
                      <tr *ngIf="((item.Status == 'initiated' || item.Status == 'ongoing') && item.GoToWaitingRoom == false && item.AccessPermission  == false  &&  item.EntryStatus == 'missed'  && ( item.PaymentStatus == 'paid' || item.PaymentStatus == 'free') )">
                          <td></td>
                          <td class="doc-post">
                          <label class="text-warning">
                          <i class="fa fa-exclamation-circle"></i> Visit date was
                          {{item.VisitDate | date:'mediumDate'}}
                        </label>
                          </td>
                      </tr>
                      <tr *ngIf="item.Status =='completed' && item.PaymentStatus != 'unpaid' ">
                        <td></td>
                        <td class="doc-post">
                        <label class="text-success"><i class="fa fa-check-circle"></i>Already Visited</label>
                        </td>
                      </tr>
                      <tr *ngIf="item.PaymentStatus == 'unpaid'" align="left">
                        <!-- <td></td> -->
                        <td colspan="2">
                          <ion-button (click)="pay(item)" class="comman-text-btn">
                          <i class="fa fa-exclamation-circle"></i>Pay First
                          </ion-button>
                        </td>
                      </tr>
                    <!-- </tr> -->
                  </table>
                </ion-card-content>
              </ion-card>
            </div>
          </div>
        </div>
 
  </div>
  <!-- </div> 
  </div> -->
</ion-content>